/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --normal-font-weight: 400;
  --bold-font-weight: 700;
  --bg-color: #ffffff;
  --accent-color: #000000;
  --bg-image: 
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%, 
      #1a1a1a
    );
  --container-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  --stroke-color: #ffffff;
  --button-text-color: #ffffff;
  --heart-contour-color: #000000;
  --sparks-color: #ff0000;
  --heart-color: #ff0000;
}

:root.theme-dark {
  --normal-font-weight: 465;
  --bold-font-weight: 785;
  --bg-color: #000000;
  --accent-color: #00cc14;
  --bg-image: 
    repeating-linear-gradient(
      90deg,
     #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #000 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
     #007f0c, 
     #004306
    );
  --container-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  --stroke-color: #000000;
  --button-text-color: #00cc14;
  --heart-contour-color: #00cc14;
  --sparks-color: #ff0000;
  --heart-color: #ff0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --normal-font-weight: 465;
    --bold-font-weight: 785;
    --bg-color: #000000;
    --accent-color: #00cc14;
    --bg-image: 
      repeating-linear-gradient(
        90deg,
       #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(
        to bottom,
        #000 0 2px,
        transparent 2px 4px
      ),
      linear-gradient(
        to bottom,
       #007f0c, 
       #004306
      );
    --container-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
    --stroke-color: #000000;
    --button-text-color: #00cc14;
    --heart-contour-color: #00cc14;
    --sparks-color: #ff0000;
    --heart-color: #ff0000;
  }
}
